body, table{
    font-family: sans-serif;
    font-size: 10pt;
}

a{
    text-decoration: none;
    color: #303030;
}

a:hover{
    text-decoration: underline;
    color: #000;
}

#body{
    border: #DDD solid 2px;
}

#hosts_services .menu{
    list-style: none;
    font-size: 12px;
}

#hosts_services .menu li{
    display: inline;
}

#hosts_services .menu li a{
    color: #303030;
    text-decoration: none;
    border: #DDD 1px solid;
}

#hosts_services .menu li a:hover{
    background-color: #F8F8F8;
    color: black;
}

#hosts_services .menu li a.active{
    text-decoration: none;
    border: #DDD 1px solid;
    background-color: #EFEFEF;
    font-weight: bold;
}

.std_table thead tr th{
    color: #303030;
    background-image: url(img/th_back.jpg);
    background-repeat: repeat-x;
    border-bottom: solid 1px #DDD;
    border-left: solid 1px #DDD;
    text-align: left;
    font-size: 11px;
}

.std_table tbody tr td{
    border: 1px solid #DDD;
}

.code{
    font-family: monospace;
    white-space: pre;
}

.flat-field{
    border: 1px solid #303030;
}

.sw-expanded{
    background-image: url(img/gtk-remove.png);
    padding-left: 14px;
    background-repeat: no-repeat;
}

h4 a{
    color: #303030;
    text-decoration: none;
}

h4 a:hover{
    color: #000;
    text-decoration: underline;
}

.sw-collapsed{
    background-image: url(img/gtk-add.png);
    padding-left: 14px;
    background-repeat: no-repeat;
}

.frame-div{
    padding-left: 14px;
}

