body{
    margin: 10px;
}

td a{
  display: block;
}


#hosts_services{
    float: left;
    width: 15%;
    padding: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    /*border: 1px solid black;*/
}

#result_tabs{
    float: left;
    padding: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    /*border: 1px solid black;*/
    width: 81%;
}

#hosts_services .menu{
    text-align: center;
    margin: 0;
    padding: 0;
}

#hosts_services .menu li a{
    padding-left: 3px;
    padding-right: 3px;
}

#body{
    margin: 0;
    /*width: 100%;*/
    position: absolute;
}

#nmap-output{
    width: 98%;
    height: 295px;
    overflow: auto;
    border: 1px solid #DDD;
    padding: 4px;
    padding-left: 0px;
}

#nmap-output-preferences{
    padding-top: 10px;
    padding-bottom: 10px;
}

#options{
    position: absolute;
    top: 0;
    /*margin-right: 50px;*/
    border: #DDD solid 1px;
    background-color: white;
    width: 97%;
    text-align: right;
}

#options ul{
    list-style: none;
    margin:0;
    padding: 0;
    display: inline;
}

#options ul li{
    margin:0;
    padding: 0;
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}


.hide{
    display: none;
}

.std_table{
    border-collapse: collapse;
    border-width: 0;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 99%
}

.std_table thead tr th{
    padding-left: 4px;
    padding-right: 4px;
    height: 25px;
}

.std_table tbody tr td{
    padding: 2px;
}

.nmap-output{
    height: 400px;
    overflow: auto;
}

.tab-placeholder{
    overflow:auto;
    height:350px;
}

.dialog{
    z-index: 500;
}
