<html>
    <head>
        <script type="text/javascript" src="/media/js/mootools.v1.11.js"></script>
    </head>
    <body>
        <script type="text/javascript">
        if(window.gecko){
            document.write("redirecting the page...")
            document.close()
            location = "js/"
        }else{
            location = "html/"
        }
        </script>
        <noscript>
        Your browser don't support Javascript.
        Try to use the <a href="html/">HTML basic interface.</a>
        </noscript>
    </body>
</html>