<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Umit :: The nmap frontend</title>
        <script type="text/javascript" src="/media/js/common.js"></script>
        <script type="text/javascript" src="/media/js/ajax.js"></script>
    </head>
    <body>
        <h2>Umit - The nmap Frontend</h2>
        <div id="main_window">
            <div><form method="post" onsubmit="return runScan()">
                <label for="target">Target:</label><input type="text" name="target" size="25" id="target"/><br/>
                <label for="command">Command:</label><input type="text" id="command" name="command" size="50"/><input type="SUBMIT" value="Scan now!"/>
            </form></div>
            <div id="result">
            </div>
        </div>
    </body>
</html>