<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Umit :: The nmap frontend</title>
        <link rel="stylesheet" href="/media/css/common.css"/>
        <link rel="stylesheet" href="/media/css/ajax.css"/>
        <link rel="stylesheet" href="/media/css/style.css"/>
        <link rel="stylesheet" href="/media/css/layout.css"/>
        <link rel="stylesheet" href="/media/css/tabber.css"/>
        <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
        <script type="text/javascript" src="/media/js/mootools.v1.11.js"></script>
        <script type="text/javascript" src="/media/js/common.js"></script>
        <script type="text/javascript" src="/media/js/dialog.js"></script>
        <script type="text/javascript" src="/media/js/profile-editor.js"></script>
        <script type="text/javascript" src="/media/js/command-wizard.js"></script>
        <script type="text/javascript" src="/media/js/scan-dialog.js"></script>
        <script type="text/javascript" src="/media/js/index.js"></script>
        <script type="text/javascript" src="/media/js/scan.js"></script>
        <script type="text/javascript">tabberOptions = {}</script>
        <script type="text/javascript" src="/media/js/tabber.js"></script>
        <script type="text/javascript" src="/media/js/output_highlight.js"></script>
    </head>
    <body>
        <div id="divSpinner" style="text-align:center">
          <strong>Loading Umit...</strong><p>&nbsp;</p><p>&nbsp;</p>
          <img src="/media/images/spinner.gif"/>
        </div>
        <div id="body" class="hide">
            <div id="options">
             <ul>
              <li><a href="javascript:void(null)" onclick="openCommandWizard()"><img src="/media/images/wizard_12.png"/>Command Wizard</a></li>
              <li><a href="compare_results/"><img src="/media/images/compare_results_12.png"/>Compare Results</a></li>
              <li><a href="javascript:void(null)" onclick="openScan()"><img src="/media/images/open_scan_12.png"/>Open Scan</a></li>
              <li><a href="javascript:void(null)" onclick="saveScan()"><img src="/media/images/save_12.png"/>Save Scan</a></li>
              <li><a href="/js/management/"><img src="/media/images/preferences_12.png"/>Management</a></li>
              <li><a href="/logout/"><img src="/media/images/exit_12.png"/>Logout</a></li>
             </ul>
            </div>
            <h2 id="umit-title">The nmap Frontend</h2>
            <!-- <div><form method="post" onsubmit="return runScan()"> -->
            <div><form method="post" action="/scan/" id="frmScan">
                <label for="target">Target:</label><input type="text" name="target" size="25" id="target" onblur="fillCommand(this.value)"/>
                &nbsp;&nbsp;&nbsp;<label for="profiles">Profile:</label><select id="profiles" style="width:294px;" name="profile"></select><br/>
                <label for="command">Command: </label><span class="code"></span>
                <input type='text' id='command' name='command' size='50' value='-v <target>'/><input type="SUBMIT" value="Scan now!"/>
                <input type='HIDDEN' name="profile_name" id="profile_name"/>
            </form></div>
        <div id="result_window">
            <div id="hosts_services">
                <ul class="menu">
                    <li><a href="javascript:void(null)" id="toggleHosts">Hosts</a></li>
                    <li><a href="javascript:void(null)" id="toggleServices">Services</a></li>
                </ul>
                <div id="hosts" style="overflow:auto;">
                    <table class="std_table" id="hosts_table">
                        <thead>
                            <tr>
                                <th width="0">OS</th>
                                <th width="100%">Host</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="services" style="overflow:auto;">
                    <table class="std_table" id="services_table">
                        <thead>
                            <tr><th width="100%">Service</th></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div id="result_tabs">
                <div class="tabber" class="nmap-output" id="tabber-result">
                    <!-- PORTS TAB -->
                    <div class="tabbertab">
                        <h3>Ports/hosts</h3>
                        <div class="tab-placeholder">

                        <div id="ports_table_placeholder">
                        <table class="std_table" id="ports_table">
                            <thead>
                                <tr>
                                 <th></th>
                                 <th>Port</th>
                                 <th>State</th>
                                 <th>Service</th>
                                 <th width="100%">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        </div>
                        <div id="hosts_s_table_placeholder" style="display:none">
                        <table class="std_table" id="hosts_s_table">
                            <thead>
                                <tr>
                                    <th width="0">&nbsp;</th>
                                    <th width="0">Hostname</th>
                                    <th width="0">Port</th>
                                    <th width="0">Protocol</th>
                                    <th width="0">State</th>
                                    <th width="0"><nobr>Server product</nobr></th>
                                    <th width="100%">Version</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        </div>
                        </div>
                    </div>
                    <!-- ................................................... -->
                    <!-- PLAIN OUTPUT TAB -->
                    <div class="tabbertab tabbertabdefault">
                        <h3>Nmap Output</h3>
                        <div id="nmap-output" class="code"></div>
                        <div id="nmap-output-preferences">
                            <label><input type="checkbox" checked="checked" id="highlight_out"/> Enable/Disable Nmap output highlight</label>
                            <!-- <input type="button" value="Preferences"/>
                            <input type="button" value="Refresh"/> -->
                        </div>
                    </div>

                    <!-- ................................................... -->
                    <!-- HOST DETAILS TAB -->
                    <div class="tabbertab">
                        <h3>Host Details</h3>
                        <div class="tab-placeholder" id="hosts_tab">

                        </div>
                    </div>
                    <!-- ................................................... -->
                    <!-- SCAN DETAILS TAB -->
                    <div class="tabbertab">
                        <h3>Scan Details</h3>
                        <div class="tab-placeholder" id="scan_details">

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div id="footer">Copyright (C) 2007 Adriano Monteiro Marques.</a></div>
        </div>
    </body>
</html>
