<html>
<head>
        <title>Umit :: The nmap frontend</title>
        <link rel="stylesheet" href="/media/css/common.css"/>
        <link rel="stylesheet" href="/media/css/style.css"/>
        <link rel="stylesheet" href="/media/css/ajax.css"/>
        <link rel="stylesheet" href="/media/css/layout.css"/>
        <link rel="stylesheet" href="/media/css/preferences.css"/>
        <link rel="stylesheet" href="/media/css/tabber.css"/>
        <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon"/>
        <script type="text/javascript" src="/media/js/mootools.v1.11-old.js"></script>
        <script type="text/javascript" src="/media/js/tabber.js"></script>
        <script type="text/javascript" src="/media/js/common.js"></script>
        <script type="text/javascript" src="/media/js/dialog.js"></script>
        <script type="text/javascript" src="/media/js/roles.js"></script>
    </head>
    <body>
        <div id="body">
            <div id="options">
                <ul><li><a href=".."><img src="/media/images/preferences_12.png"/>Management</a></li></ul>
                <ul><li><a href="../.."><img src="/media/images/umit_12.png"/>Main page</a></li></ul>
                <ul><li><a href="/logout/"><img src="/media/images/exit_12.png"/>Logout</a></li></ul>
            </div>
            <h2 id="umit-title">The nmap Frontend</h2>
            <h3>Role Administration</h3>
            <form method="post" action="search/" id="frmSearch">
                <label for="search_field">Search:</label><input type="text" size="45" name="search" id="search_field"/>
                <input type="submit" value="search"/>&nbsp;&nbsp;&nbsp;<a href="javascript:void(null)" onclick="openRoleDialog()"><img src="/media/images/plus.png"/>Add new role</a>
            </form>
            <table class="std_table" id="roles_table">
                <thead>
                    <tr>
                     <th width="0">&nbsp;</th>
                     <th width="20%">ID</th>
                     <th width="40%">Description</th>
                     <th width="100%">Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" align="center"><img src="/media/images/spinner.gif"/></td>
                    </tr>
                </tbody>
            </table>
            <a href="javascript:void(null)" id="delete-role"><img src="/media/images/minus.png"/>Delete selected roles</a>
        </div>
    </body>
</html>